.App * {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  line-height: 50px;
  font-size: xx-large;
  text-align: center;
  border-bottom: 4px solid black;
}

div.flex-child {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input{
  width: 250px;
  padding: 10px 20px;
  margin: 6px 0;
  box-sizing: border-box;
}

form input[type=submit] {
  background-color: skyblue;
  color: white;
  font-size: x-large;
  border: none;
  border-bottom: 2px solid black;
}

form input[type=submit]:hover {
  background-color: darkcyan;
  cursor: pointer;
}

form input[type=submit]:active {
  border: 4px dashed yellowgreen;
}

form input[type=submit]:focus:not(:active) {
  border: none;
  background-color: yellowgreen;
}

form.flex-form {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px
}

.weather-container-grid {
  width: 600px;
  height: 380px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.weather-container-grid > *:not(.four-day-container) {
  border: 2px solid green;
}

.today-container { grid-area: 1 / 1 / 2 / 2;  }
.graph-container { grid-area: 1 / 2 / 2 / 4; }
.four-day-container { 
  grid-area: 2 / 1 / 3 / 4; 
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.four-day-container > * {
  height: 100%;
  width: 100%;
  border: 2px solid black;
}

.weather-top {
  display: flex;
  align-items: center;
}

.weather-top > * {
  width: 40px;
  height: 40px;
}

.today-container .top  {
  height: 50%;
  display: flex;
  position: relative;
} 

.w-icon {
  flex: 0 0 auto;
  width: 90px !important;
  height: 90px !important;
}

.temp-unit-static-container {
  position: static;
  flex: 1 1 auto;
}

.rel-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.rel-container > * {
  position: absolute;
}

.temp {
  bottom: 0;
  left: 5px;
  font-size: 3rem;
}

.unit-container {
  right: 5px;
  top: 5px;
  font-size: 2rem;
}

.unit-container > * {
  cursor: pointer;
}

.today-container .bottom {
  height: 50%;
}

.today-container .bottom p {
  padding-left: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.day-stat {
  margin: 10px 0 10px 0;
}

.sunrise-set-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.day-of-week {
  margin: 5px;
  text-align:  center;
  font-size: large;
}

.icon-container {
  height: 110px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  display: grid;
  place-items: center;
}

.min-max-flex-container {
  height: 46px;
  display: flex;
  align-items: center;
}

.min-temp, .max-temp {
  width: 50%;
  text-align: center;
}

